@import "tailwindcss";

@theme {
  --color-alhambra: #E08733;
  --color-granada-dark: #0D0D0D;
}

:root {
  background-color: #0D0D0D;
  color: white;
  /* Patrón de lacería árabe muy sutil para el fondo */
  background-image: url('https://www.transparenttextures.com/patterns/arabesque.png');
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
}